#document-list-params>.search {
  .wrapper {
    // We want the whole thing to "feel" like an input: a single border, which
    // highlights.
    height: @input-height-small;
    max-width: 25em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
  }

  form {
    flex: 1 1 auto;
    display: flex;
    position: relative;
    font-size: @font-size-small;
    line-height: @line-height-small;

    // Bootstrap's forms.less ".form-control"
    height: @input-height-small;
    padding: 0;
    margin: 0;
    background-color: @input-bg;
    color: @input-color;
    .caret { border-top-color: @input-color; }
    border: 1px solid @input-border;
    border-radius: @input-border-radius;
    .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");

    &.focus {
      // Copy-pasted from Bootstrap's mixins/forms.less
      @color: @input-border-focus;
      @color-rgba: rgba(red(@color), green(@color), blue(@color), .6);
      border-color: @color;
      outline: 0;
      .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px @{color-rgba}");
    }
  }

  i.icon {
    flex: 0 0 auto;
    padding: 5px 0 5px 13px;
    font-size: inherit;
    line-height: inherit;
  }

  span.caret {
    // Smaller font size -> gotta move caret up a bit
    display: inline-block;
    position: relative;
    top: -1px;
  }

  input {
    flex: 1 1 auto;
    border: none;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-shadow: inherit;
    font: inherit;
    background: transparent;
    border-radius: @border-radius-small;
    padding: @padding-small-vertical 0 @padding-small-vertical 6px;
    height: calc(@input-height-small - 2px); // no border
    .placeholder();
  }

  .nix {
    flex: 0 0 auto;
    display: none;
    font-size: 1.5em;
    font-weight: bold;
    width: 1em;
    text-align: center;
    height: @input-height-small;
    line-height: @input-height-small;
  }

  button {
    display: none;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  a.dropdown-toggle {
    border: 0;
    background: transparent;
    box-shadow: 0;
  }

  &.changing {
    button { display: block; }
    .icon { color: @brand-primary; }
  }

  &:not(.changing):not(.empty) {
    form {
      color: white;
      .caret { border-top-color: white; }
      text-shadow: 0 0 .1em @gray-dark;
      background-color: @complete-color;
    }

    .nix {
      display: block;
      flex: 0 0 auto;
    }
  }

  .dropdown-menu {
    text-shadow: none;
  }
}
