@(
  user: User,
  maybeDocumentSetId: Option[Long]
)(implicit lang: Lang, flash: Flash, request: RequestHeader)

@javascripts = {
  @requireJsBundle("ApiToken/index")
}

@jsMessageKeys = @{Seq(
  "time_display.datetime.medium",
  "views.ApiTokens.form.heading",
  "views.ApiTokens.form.description.label",
  "views.ApiTokens.form.description.placeholder",
  "views.ApiTokens.form.submit.label",
  "views.ApiTokens.table.caption",
  "views.ApiTokens.th.token",
  "views.ApiTokens.th.createdAt",
  "views.ApiTokens.th.description",
  "views.ApiTokens.delete",
  "views.ApiTokens.delete.confirm"
)}

@defining(scopedMessages("views.ApiToken.index")) { m =>
  @main(optionalUser=Some(user), title=m("title"), bodyClass="api-token-index", h1=m("h1"), javascripts=javascripts, jsMessageKeys=jsMessageKeys) {
    @maybeDocumentSetId match {
      case Some(documentSetId) => {
        <p class="description">@m("description.withDocumentSet")</p>
        <pre class="example">var token = "TOKEN";
var documentSetId = @documentSetId;
var authHeader = "Basic " + btoa(token + ":x-auth-token");
$.ajax({
  type: 'GET',
  url: "https://www.overviewproject.org/api/v1/document-sets/" + documentSetId + "/tags",
  headers: { 'Authorization': authHeader },
  success: console.log
});</pre>
      }
      case None => {
        <p class="description">@m("description.withoutDocumentSet")</p>
        <pre class="example">var token="TOKEN";
var authHeader = "Basic " + btoa(token + ":x-auth-token");
$.ajax({
  type: 'POST',
  url: 'https://www.overviewproject.org/api/v1/document-sets',
  headers: { 'Authorization': authHeader },
  data: { 'title': 'Some title' },
  success: console.log
});
// The request returns the document set ID and a document-set
// specific API token you can use to read/write it.</pre>
      }
    }
    <div id="api-tokens-app" data-document-set-id="@maybeDocumentSetId.map(_.toString).getOrElse("")"></div>
  }
}
