@this(
  assets: AssetsFinder,
  main: views.html.main
)
@(
  user: User
)(implicit messages: Messages, flash: Flash, request: RequestHeader)

@javascripts = {
  @requireJsBundle(assets, "admin/User/index")
}
@jsMessageKeys = @{Seq("views.admin.User.index")}

@defining(scopedMessages("views.admin.User.index")) { m =>
  @main(optionalUser=Some(user), title=m("title"), bodyClass="admin-user-index", h1=m("h1"), javascripts=javascripts, jsMessageKeys=jsMessageKeys) {
    <p>All times are in <em>your</em> local time zone.</p>
    <div class="app" data-admin-email="@user.email"></div>
  }
}
