@(
  user: OverviewUser,
  documentSets: Iterable[(org.overviewproject.tree.orm.DocumentSet,models.orm.User)]
)(implicit lang: Lang, flash: Flash, request: RequestHeader)

@javascripts = {
  @helper.requireJs(core=routes.Assets.at("javascripts/require.js").url, module=routes.Assets.at("javascripts/bundle/SharedDocumentSet/index").url)
}

@defining(scopedMessages("views.SharedDocumentSet.index")) { m =>
  @main(optionalUser=Some(user), title=m("title"), bodyClass="shared-document-set-index", javascripts=javascripts) {
    <div class="row">
      <div class="col-sm-3 sidebar">
        @views.html.components.importNav(hasDocumentSets=true)
        @views.html.components.helpBox(m("help1"))
      </div>
      <div class="col-sm-9">
        <div class="page-header">
          <h1>@m("h1")</h1>
        </div>
        @if(documentSets.isEmpty) {
          <p class="empty">@m("empty")</p>
        } else {
          <ul class="shared-document-sets">
            @documentSets.map(Function.tupled(views.html.DocumentSet._smallDocumentSet.apply))
          </ul>
        }
      </div>
    </div>
  }
}
