@(
  user: OverviewUser,
  documentSets: Iterable[(org.overviewproject.tree.orm.DocumentSet,models.orm.User)]
)(implicit lang: Lang, flash: Flash, request: RequestHeader)

@javascripts = {
  @helper.requireJs(core=routes.Assets.at("javascripts/require.js").url, module=routes.Assets.at("javascripts/bundle/SharedDocumentSet/index").url)
}

@defining(scopedMessages("views.SharedDocumentSet.index")) { m =>
  @layouts.mainWithSidebar(user, m("title"), "shared-document-set-index", javascripts) {
    @views.html.components.importNav(hasDocumentSets=true)
    @views.html.components.helpBox(m("help1"))
  } {
    @if(documentSets.isEmpty) {
      <p class="empty">@m("empty")</p>
    } else {
      <ul class="shared-document-sets">
        @documentSets.map(Function.tupled(views.html.DocumentSet._smallDocumentSet.apply))
      </ul>
    }
  }
}
