@(
  nOwnedDocumentSets: Long
)(implicit lang: Lang, request: RequestHeader)

@linkToHtml(name: Html, route: Call) = {
  @if(route.toString == request.path) {
    <span class="active">@name</span>
  } else {
    <a href="@route">@name</a>
  }
}

@linkTo(name: String, route: Call) = {
  @linkToHtml(HtmlFormat.escape(name), route)
}

@defining(scopedMessages("views.components.importNav")) { m =>
  <div class="import-nav">
    @if(request.path != routes.DocumentSetController.index().toString) {
      @if(nOwnedDocumentSets > 0) {
        <a href="@routes.DocumentSetController.index()">
          <span class="link">@m("documentSets")</span>
          <span class="document-set-count">@m("documentSetCount", nOwnedDocumentSets)</span>
        </a>
      } else {
        <span class="inactive document-set-count">@m("documentSetCount", nOwnedDocumentSets)</span>
      }
    } else {
      <span class="active">@m("documentSets")</span>
    }

    <h6>@m("create")</h6>
    <ul class="import-nav">
      <li>@linkTo(m("create.csv"), routes.CsvUploadController.new_())</li>
      <li>@linkTo(m("create.pdf"), routes.PdfUploadController.new_())</li>
      <li>@linkToHtml(Html(m("create.documentCloud_html")), routes.DocumentCloudProjectController.index())</li>
    </ul>

    <h6>@m("copy")</h6>
    <ul class="import-nav">
      <li>@linkTo(m("copy.shared"), routes.SharedDocumentSetController.index())</li>
      <li>@linkTo(m("copy.public"), routes.PublicDocumentSetController.index())</li>
    </ul>
  </div>
}
