@(
  optionalUser: Option[models.orm.User]
)(
  implicit lang: Lang
)
@defining(scopedMessages("views.components.navbar")) { m =>
  <nav class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="@routes.WelcomeController.show()">@t("brand.name")</a>
        <ul class="nav">
          <li><a href="http://overview.ap.org/">@m("link_blog")</a></li>
          <li><a href="http://overview.ap.org/get-involved/">@m("link_contact")</a></li>
        </ul>
        @optionalUser.map { user =>
          <div class="logged-in pull-right">
            <p class="navbar-text pull-left">@(Html(HtmlFormat.escape(m("logged_in", "EMAIL")).toString.replace("EMAIL", "<strong>" + HtmlFormat.escape(user.email).toString + "</strong>")))</p>
            <ul class="nav">
              <li><a href="@routes.DocumentSetController.index()">@m("link_document_sets")</a></li>
              <li><a href="@routes.SessionController.delete()">@m("link_logout")</a></li>
            </ul>
          </div>
        }
      </div>
    </div>
  </nav>
}
