@(
  optionalUser: Option[OverviewUser]
)(
  implicit lang: Lang
)
@defining(scopedMessages("views.components.navbar")) { m =>
  <nav>
    <header>
      <a href="@routes.WelcomeController.show()"><img class="logo" src="@routes.Assets.at("images/logo-small.png")" alt="@m("brand_name")" /></a>
    </header>
    <div class="all">
      <ul>
        <li><a href="http://overview.ap.org/help" target="_blank">@m("link_help")</a></li>
        <li><a href="http://overview.ap.org/" target="_blank">@m("link_blog")</a></li>
        <li class="contact-link">
        @optionalUser.map(_.toUser).flatMap(IntercomConfiguration.settingsForUser) match {
          case Some(intercom) => {
            <a id="Intercom" href="mailto:@(intercom.appId)@@incoming.intercom.io">@m("link_intercom")</a>
          }
          case None => {
            <a href="http://overview.ap.org/contact/" target="_blank">@m("link_contact")</a>
          }
        }
        </li>
      </ul>
    </div>
    @optionalUser.map { user =>
      <div class="logged-in">
        <div class="navbar-text">@(Html(HtmlFormat.escape(m("logged_in", "EMAIL")).toString.replace("EMAIL", "<strong>" + HtmlFormat.escape(user.email).toString + "</strong>")))</div>
        <ul>
          @if(user.isAdministrator) {
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="@controllers.admin.routes.UserController.index()">@m("link_admin_users")</a></li>
                <li><a href="@controllers.admin.routes.ImportJobController.index()">@m("link_admin_jobs")</a></li>
              </ul>
            </li>
          }
          <li><a href="@routes.DocumentSetController.index()">@m("link_document_sets")</a></li>
          <li><a href="@routes.SessionController.delete()">@m("link_logout")</a></li>
        </ul>
      </div>
    }
  </nav>
}
