@(
  form: play.api.data.Form[Option[models.orm.User]]
)(implicit lang: Lang, flash: Flash)

@defining(scopedMessages("views.Confirmation.index")) { m =>
  @main(title=m("title"), bodyClass="confirmation-index", h1=m("h1")) {
    <p>@m("intro")</p>

    <form method="get" action="@routes.ConfirmationController.show()" class="well form-horizontal">
      <fieldset class="control-group@(if(form.errors("token").isEmpty) "" else " error")">
        <label class="control-label" for="confirmation-token">@m("label_token")</label>
        <div class="controls">
          <input id="confirmation-token" name="token" type="text" class="input-large" required="required" placeholder="@m("placeholder_token")" />
          @form.errors("token").map { error =>
            <span class="help-inline">@t(error.message, error.args: _*)</span>
          }
        </div>
      </fieldset>

      <fieldset class="form-actions">
        <input type="submit" class="btn btn-primary" value="@m("submit")" />
      </fieldset>
    </form>
  }
}
