@import "../variables.less";

#document-set-import {
  h2 {
    padding: 0;
    margin: 0;
    font-size: @baseFontSize * 1.5;
    line-height: @baseLineHeight * 2;
    margin-bottom: @baseLineHeight;
    color: @grayDark;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
  }

  form {
    margin: 0;
  }

  &.in {
    .well;
    background: inherit;
    margin-top: -30px;
    padding-top: 39px;
  }

  ul.nav li.disabled a {
    border-color: transparent; // even on hover
  }

  #import-options {
    margin-bottom: 20px;
    input[type=checkbox] {
      margin: 0;
      margin-bottom: 3px;
    }
    label {
      margin: 0;
    }
  }

  #documentcloud-import {
    li {
      vertical-align: middle;

      h3, form, p {
        display: inline-block;
        line-height: 40px; // bootstrap's h3
        height: 40px;
        margin: 0;
        vertical-align: baseline;
      }

      h3 {
        font-size: 20px;
        margin: 0 .5em;
      }

      form {
        vertical-align: top;
      }

      span.document-count {
        color: @grayLight;
      }
    }

    .sample ul, .upload form {
      display: none; // until toggled
    }

    .manual form {
      margin-bottom: 0;
    }
  }

  fieldset.form-actions {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    margin: 0;
    background: none;
    border: none;
  }

}
