body.document-set-index {
  button.toggle-import {
    position: relative;
    z-index: 1;

    &.collapsed .caret {
      display: none;
    }
  }

  ul.document-sets {
    margin-top: 20px;

    &>li {
      .well;

      &:not(:hover) {
        border-color: white;
        background-color: white;
        position: relative;
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
      }
    }

    p.status {
      margin-bottom: 0;
      .clearfix()

      /* See #199. IE9 has a rendering bug in p.status, and really-dumb float:left is a workaround. */
      label {
        display: block;
        float: left;
        margin: 0 10px 0 0;
      }

      span.state-description {
        display: block;
        float: left;
      }
    }

    h2 {
      margin-top: 0;
    }

    h3 {
      .muted;
      font-size: 1em;
      font-weight: normal;
      line-height: 1;
    }

    .state-description {
      .muted;
    }

    form {
      margin-left: 20px;
      float: right;
      // "h2" has line-height 40px
      line-height: 30px;
      padding: 5px 0;
    }

    input[type=checkbox] {
      vertical-align: top;
    }
  }

  #error-list-modal {
    h2 {
      font-size: 20px;
    }
  }
}
