docker
docker-build.sh
docker-run.sh
deps
logs
search-index
travis
vm
message-broker
test
znmeb-release
project/project
project/target
target
bin
dist
.cache
.classpath
.project
.settings
.worksheet
*/src/test
*/target
*/bin
*/dist
*/.cache
*/.classpath
*/.project
*/.settings
*/.worksheet

test/assets/javascripts/src-js
test/assets/javascripts/test-js


database
test
*/*/test

message-broker/data
search-index/data
