bin
logs
project/project
project/target
target
tmp
.history
dist
.classpath
.project
.settings/
*~
*.swp
.env
.cache
.target
.DS_Store
test/assets/javascripts/src-js
test/assets/javascripts/test-js

.ensime
.ensime_lucene/*
\#*
.\#*

