logs
project/project
project/target
target
tmp
.history
dist
.classpath
.project
.settings/
*~
*.swp
.cache
.target
.DS_Store
test/assets/javascripts/src-js
test/assets/javascripts/test-js

.ensime
.ensime_lucene/*
\#*
.\#*

.worksheet
*.sc
/database/
bin


test/assets/javascripts/autotest/karma_html/PhantomJS 1.9.2 (Mac OS X)/index.html

npm-debug.log
