logs
project/project
target
tmp
.history
dist
.classpath
.project
.settings/
*~
*.swp
.cache
.target
.DS_Store
.ensime
.ensime_lucene/*
\#*
.\#*
.worksheet
.idea
*.sc
/blob-storage/
/node_modules/
/bin/
npm-debug.log
overview-server*.zip
/overview-server/
