@(documentSet: OverviewDocumentSet)(implicit lang: Lang)

@defining(scopedMessages("views.PublicDocumentSet._documentSet")) { m =>
  <li>
    <form method="POST" action="@routes.DocumentSetController.createClone" class="form-inline">
      <input type="hidden" name="sourceDocumentSetId" value="@documentSet.id">
      <button class="btn"><i class="icon-download"></i> @m("import")</button>
    </form>
    <h3>@documentSet.title</h3>
    <p class="shared-by">@m("shared_by", documentSet.owner.email)</p>
  </li>
}
