@(
  user: OverviewUser,
  nOwnedDocumentSets: Long,
  documentSets: Iterable[(org.overviewproject.tree.orm.DocumentSet,models.orm.User)]
)(implicit lang: Lang, flash: Flash, request: RequestHeader)

@javascripts = {
  @helper.requireJs(core=routes.Assets.at("javascripts/require.js").url, module=routes.Assets.at("javascripts/bundle/PublicDocumentSet/index").url)
}

@defining(scopedMessages("views.PublicDocumentSet.index")) { m =>
  @layouts.mainWithSidebar(user, m("title"), "public-document-set-index", javascripts) {
    @views.html.components.importNav(nOwnedDocumentSets=nOwnedDocumentSets)
    @views.html.components.helpBox(m("help1"), m("help2"))
  } {
    <p class="preamble">@m("preamble")</p>
    @if(documentSets.isEmpty) {
      <p class="empty">@m("empty")</p>
    } else {
      <ul class="public-document-sets">
        @documentSets.map(Function.tupled(views.html.DocumentSet._smallDocumentSet.apply))
      </ul>
    }
    <div class="quick-start-container">
      <!-- set src in script, to make page onload come sooner -->
      <iframe id="quick-start-video" class="quick-start-video" src="" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <script>
        window.addEventListener('load', function() {
          document.getElementById('quick-start-video').setAttribute('src', 'https://player.vimeo.com/video/77729177?byline=0&portrait=0&color=ffffff');
        }, false);
      </script>
    </div>
  }
}
