@(
  user: User,
  nOwnedDocumentSets: Long,
  documentSets: Seq[(com.overviewdocs.models.DocumentSet,String)]
)(implicit messages: Messages, flash: Flash, request: RequestHeader)

@javascripts = {
  @requireJsBundle("PublicDocumentSet/index")
}

@defining(scopedMessages("views.PublicDocumentSet.index")) { m =>
  @layouts.mainWithSidebar(user, m("title"), "public-document-set-index", javascripts) {
    @views.html.components.importNav(nOwnedDocumentSets=nOwnedDocumentSets)
    @views.html.components.helpBox(m("help1"), m("help2"))
  } {
    <p class="preamble">@m("preamble")</p>
    @if(documentSets.isEmpty) {
      <p class="empty">@m("empty")</p>
    } else {
      <ul class="public-document-sets">
        @documentSets.map(Function.tupled(views.html.DocumentSet._smallDocumentSet.apply))
      </ul>
    }
  }
}
