@this(
  iframe: views.html.layouts.iframe
)
@(documentSet: com.overviewdocs.models.DocumentSet)(implicit messages: PreferredMessagesProvider)

@import models.export.format._

@defining(scopedMessages("views.DocumentSetExport.index")) { m =>
  @defining(escapeFilename(documentSet.title.replace('.', '_') + ".")) { escapedFilenamePart =>
    @iframe(bodyClass="document-set-export-index") {
      <p class="preamble">@m("preamble")</p>
      <ul class="formats">
        <li>@m("formats.DocumentsWithStringTags.csv") <a href="@(routes.DocumentSetExportController.documentsWithStringTags(CsvFormat, escapedFilenamePart + "csv", documentSet.id))">@m("download")</a></li>
        <li>@m("formats.DocumentsWithStringTags.xlsx") <a href="@(routes.DocumentSetExportController.documentsWithStringTags(XlsxFormat, escapedFilenamePart + "xlsx", documentSet.id))">@m("download")</a></li>
        <li>@m("formats.DocumentsWithColumnTags.csv") <a href="@(routes.DocumentSetExportController.documentsWithColumnTags(CsvFormat, escapedFilenamePart + "csv", documentSet.id))">@m("download")</a></li>
        <li>@m("formats.DocumentsWithColumnTags.xlsx") <a href="@(routes.DocumentSetExportController.documentsWithColumnTags(XlsxFormat, escapedFilenamePart + "xlsx", documentSet.id))">@m("download")</a></li>
      </ul>
      <p class="postamble">@Html(m("postamble_html"))</p>
      <p class="archive">@m("archive")</p>
      <ul>
        <li>@m("formats.ZipArchive") <a href="@(routes.DocumentSetArchiveController.archive(documentSet.id, escapedFilenamePart + "zip"))">@m("download")</a>
     </ul>
   }
  }
}
