version: '3.4'

services:
  # === Overview: the product under test ===
  #
  # It would normally be bad form to test the ":latest" version of each project.
  # But here, our integration tests are different. We assume you just ran
  # ./docker/build, which _wrote_ these ":latest" versions.
  #
  # ./docker/build is complex, which is why we don't just use "build:" clauses
  # in this file.
  #
  # To make `run-in-docker-compose` work:
  # 1. ./docker/build
  # 2. ./integration-test/run-in-docker-compose
  # ... and read output from ./integration-test/reports
  overview-web:
    image: overview-web:latest
    networks: [ 'default', 'database', 'redis', 'worker' ]
    depends_on: [ 'overview-database', 'overview-redis', 'overview-worker' ]
    environment:
      OV_APPLICATION_SECRET: "asdkgjhalsdkghasldkghasdfsd"
    volumes:
      - blob-storage:/var/lib/overview/blob-storage

  overview-worker:
    image: overview-worker:latest
    networks: [ 'database', 'worker' ]
    depends_on: [ 'overview-database' ]
    environment:
      OV_N_DOCUMENT_CONVERTERS: '2'
    volumes:
      - blob-storage:/var/lib/overview/blob-storage

  overview-database:
    image: overview-database:latest
    networks: [ 'database' ]

  overview-redis:
    image: overview-redis:latest
    networks: [ 'redis' ]

  # === Converters: needed for tests to pass ===
  #
  # We want to test that Overview coexists with its recommended converter
  # versions. That's why all these converters are here.
  overview-convert-archive:
    image: "${CONVERT_ARCHIVE_IMAGE}"
    networks: [ 'worker' ]
    environment:
      POLL_URL: 'http://overview-worker:9032/Archive'

  overview-convert-image:
    image: "${CONVERT_IMAGE_IMAGE}"
    networks: [ 'worker' ]
    environment:
      POLL_URL: 'http://overview-worker:9032/Image'

  overview-convert-office:
    image: "${CONVERT_OFFICE_IMAGE}"
    networks: [ 'worker' ]
    environment:
      POLL_URL: 'http://overview-worker:9032/Office'

  overview-convert-pdf:
    image: "${CONVERT_PDF_IMAGE}"
    networks: [ 'worker' ]
    environment:
      POLL_URL: 'http://overview-worker:9032/Pdf'

  overview-convert-pdfocr:
    image: "${CONVERT_PDFOCR_IMAGE}"
    networks: [ 'worker' ]
    environment:
      POLL_URL: 'http://overview-worker:9032/PdfOcr'

  overview-convert-text:
    image: "${CONVERT_TEXT_IMAGE}"
    networks: [ 'worker' ]
    environment:
      POLL_URL: 'http://overview-worker:9032/Text'

  # === The integration-test runner ===
  integration-test:
    image: overview/overview-integration-tester:${OVERVIEW_INTEGRATION_TESTER_VERSION}
    command: sh -c "xvfb-run -a -s '-screen 0 1200x900x24' ./all-tests"
    shm_size: 2g
    depends_on: [ 'overview-web', 'overview-convert-archive', 'overview-convert-image', 'overview-convert-office', 'overview-convert-pdf', 'overview-convert-pdfocr', 'overview-convert-text' ]
    environment:
      OVERVIEW_URL: http://overview-web
      WAIT_FOR_URLS: ${WAIT_FOR_URLS}
      HEADLESS: 'false'
    volumes:
      - ./files:/app/files
      - ./helpers:/app/helpers
      - ./spec:/app/spec
      - ./reports:/app/reports
    tmpfs:
      - /tmp

networks:
  default:
  database:
  redis:
  worker:

# Most data is transient. only one directory is shared.
volumes:
  blob-storage:
