@(
  user: OverviewUser,
  documentSet: models.orm.DocumentSet,
  logEntries: Seq[models.orm.LogEntry]
)(implicit lang: Lang, flash: Flash)

@main(optionalUser=Some(user), title="Log", h1="Log") {
  <p class="download-csv">You may also download <a href="@routes.LogEntryController.index(documentSet.id, ".csv")">this log as a spreadsheet</a>.</p>

  <table class="log-entries">
    <thead>
      <tr>
        <th>User</th>
        <th>Time</th>
        <th>Component</th>
        <th>Action</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      @logEntries.map { entry =>
        <tr>
          <td class="email">@entry.user.email</td>
          <td class="date">@entry.date</td>
          <td class="component">@entry.component</td>
          <td class="action">@entry.action</td>
          <td class="details">@entry.details</td>
        </tr>
      }
    </tbody>
  </table>
}
