@this(
  assets: AssetsFinder,
  mainWithSidebar: views.html.layouts.mainWithSidebar
)
@(
  user: User,
  detailedDocumentSets: models.pagination.Page[(com.overviewdocs.models.DocumentSet,Iterable[com.overviewdocs.models.ImportJob],Int)]
)(implicit messages: Messages, flash: Flash, request: RequestHeader)

@javascripts = {
  @requireJsBundle(assets, "DocumentSet/index")

  @* Let's hope there is no end-script tag in _supportedLanguages.... *@
  <script>
    window.supportedLanguages = @Html(views.DocumentSet._supportedLanguages().toString());
    window.defaultLanguageCode = "@com.overviewdocs.util.SupportedLanguages.defaultLanguage.languageCode";
  </script>
}

@jsMessageKeys = @{Seq(
  "time_display.datetime.medium",
  "time_display.shouldFinishIn",
  "views.DocumentSet._documentSet",
  "views.DocumentSet._share",
  "authentication.LoggedOutModal"
)}

@defining(scopedMessages("views.DocumentSet.index")) { m =>
  @mainWithSidebar(user=user, title=m("title"), bodyClass="document-set-index", javascripts=javascripts, jsMessageKeys=jsMessageKeys) {
    @views.html.components.importNav(nOwnedDocumentSets=detailedDocumentSets.pageInfo.total)
  } {
    @if(detailedDocumentSets.items.isEmpty) {
      <p class="preamble">@m("no_document_sets_or_jobs")</p>
    } else {
      <div class="document-sets">
        <ul class="list-unstyled">
          @detailedDocumentSets.items.map((_documentSet.apply _).tupled)
        </ul>
        @helper.Pagination.links(detailedDocumentSets.pageInfo, (pageNum: Int) => routes.DocumentSetController.index(pageNum).url)
      </div>

      @views.html.DocumentSet._errorList()
      @views.html.DocumentSet._sharingOptions()
      @views.html.DocumentSet._exportOptions()
    }
  }
}
