@(
  user: User,
  documentSet: com.overviewdocs.models.DocumentSet,
  nOwnedDocumentSets: Int
)(implicit messages: Messages, flash: Flash, request: RequestHeader)

@javascripts = {
  @requireJsBundle("FileImport/new")

  @* Let's hope there is no end-script tag in _supportedLanguages.... *@
  <script>
    window.supportedLanguages = @Html(views.DocumentSet._supportedLanguages().toString());
    window.defaultLanguageCode = "@com.overviewdocs.util.SupportedLanguages.defaultLanguage.languageCode";
  </script>
}

@jsMessageKeys = @{Seq(
  "views.DocumentSet.index.ImportOptions",
  "views.DocumentSet.show.DocumentMetadata",
  "views.DocumentSet._massUploadForm",
  "views.DocumentSet._uploadProgress"
)}

@defining(scopedMessages("views.FileImport.edit")) { m =>
  @layouts.mainWithSidebar(user=user, title=m("title"), bodyClass="file-import-new", javascripts=javascripts, jsMessageKeys=jsMessageKeys) {
    @views.html.components.importNav(nOwnedDocumentSets=nOwnedDocumentSets)
    @views.html.components.helpBox(m("help1"))
  } {
    <p class="instructions">@Html(m("addingTo_html", HtmlFormat.escape(documentSet.title)))</p>
    <form class="file-import" method="post" action="@routes.MassUploadController.startClusteringExistingDocumentSet(documentSet.id)">
      @helper.Form.csrfToken
    </form>
  }
}
