@(
  user: User,
  nOwnedDocumentSets: Int
)(implicit lang: Lang, flash: Flash, request: RequestHeader)

@javascripts = {
  @requireJsBundle("FileImport/new")

  @* Let's hope there is no end-script tag in _supportedLanguages.... *@
  <script>
    window.supportedLanguages = @Html(views.DocumentSet._supportedLanguages().toString());
    window.defaultLanguageCode = "@org.overviewproject.util.SupportedLanguages.defaultLanguage.languageCode";
  </script>
}

@jsMessageKeys = @{Seq(
  "views.DocumentSet.index.ImportOptions",
  "views.DocumentSet._massUploadForm",
  "views.DocumentSet._uploadProgress",
  "authentication.LoggedOutModal"
)}

@defining(scopedMessages("views.FileImport.new")) { m =>
  @layouts.mainWithSidebar(user=user, title=m("title"), bodyClass="file-import-new", javascripts=javascripts, jsMessageKeys=jsMessageKeys) {
    @views.html.components.importNav(nOwnedDocumentSets=nOwnedDocumentSets)
    @views.html.components.helpBox(m("help1"))
  } {
    <form class="file-import" method="post" action="@routes.MassUploadController.startClustering">
      @helper.Form.csrfToken
    </form>
  }
}
