@import "../../mixins.less";

.modal {
  p.help-block {
    .text-muted;
    margin-top: 0;

    &.too-few-documents {
      margin-top: 0;
      color: @brand-success;
    }
  }

  select {
    // Override Bootstrap so that big <select> elements can be big
    width: auto;
    min-width: 220px;
  }
}
