@this(
  assets: AssetsFinder,
  mainWithSidebar: views.html.layouts.mainWithSidebar
)
@(
  user: User,
  nOwnedDocumentSets: Long,
  documentSets: Iterable[(com.overviewdocs.models.DocumentSet,String)]
)(implicit messages: Messages, flash: Flash, request: RequestHeader)

@javascripts = {
  @requireJsBundle(assets, "SharedDocumentSet/index")
}

@defining(scopedMessages("views.SharedDocumentSet.index")) { m =>
  @mainWithSidebar(user, m("title"), "shared-document-set-index", javascripts) {
    @views.html.components.importNav(nOwnedDocumentSets=nOwnedDocumentSets)
    @views.html.components.helpBox(m("help1"))
  } {
    @if(documentSets.isEmpty) {
      <p class="empty">@m("empty")</p>
    } else {
      <ul class="shared-document-sets">
        @documentSets.map(Function.tupled(views.html.DocumentSet._smallDocumentSet.apply))
      </ul>
    }
  }
}
