@this()
@(
  name: String,
  selectedLanguageCode: Option[String] = None
)(implicit messages: Messages)

@import com.overviewdocs.util.SupportedLanguages

<select name="@name">
  @defining(messages.lang.toLocale) { locale =>
    @defining(SupportedLanguages.defaultLanguage.languageCode) { defaultLanguageCode =>
      @for(supportedLanguage <- SupportedLanguages.languagesSortedInCallerLocale(locale)) {
        <option
          value="@supportedLanguage.languageCode"
          @Html(if (supportedLanguage.languageCode == defaultLanguageCode) "selected=\"selected\"" else "")
          >@supportedLanguage.displayLanguage(locale)</option>
      }
    }
  }
</select>
