@(
  documentSet: OverviewDocumentSet,
  viewer: OverviewUser
)(implicit lang: play.api.i18n.Lang)

@import views.helper.DocumentSetHelper

@defining(scopedMessages("views.DocumentSet._documentSet")) { m =>
  <li id="document-set-@documentSet.id">
    <form method="post" class="delete form-inline" data-confirm="@m("confirm_delete")" action="@routes.DocumentSetController.delete(documentSet.id)?X-HTTP-Method-Override=DELETE">
      <input type="submit" class="btn btn-danger" value="@m("action_delete")" />
    </form>
    <form method="post" class="update form-inline" action="@routes.DocumentSetController.update(documentSet.id)?X-HTTP-Method-Override=PUT">
      @if(viewer.isAdministrator) {
        <label>
          <input type="checkbox" name="public" value="true"@{if (documentSet.isPublic) Html(" checked=\"checked\"") else ""} />
          <input type="hidden" name="public" value="false" />
          @m("toggle_public")
        </label>
      }
    </form>
    <h2><a href="@routes.DocumentSetController.show(documentSet.id)">@documentSet.title</a></h2>
    <h3>
      @documentSet match {
        case ds: OverviewDocumentSet.DocumentCloudDocumentSet => {
          @m("subtitle.query", ds.query)
        }
        case _ => {
          @m("subtitle.other")
        }
      }
    </h3>
    <p class="status">
      <span class="document-count">@m("document_count", documentSet.documentCount)</span>
      @if(documentSet.documentProcessingErrorCount > 0) {
        <a class="error-list" href="@routes.DocumentProcessingErrorController.index(documentSet.id)" data-toggle="modal" data-target="#error-list-modal">@m("error_count", documentSet.documentProcessingErrorCount)</a>
      }
    </p>
  </li>
}
