@(hasDocuments: Boolean)(implicit lang: Lang)
@defining(scopedMessages("views.DocumentSet._importPublic")) { m =>
  @_importPane(h1 = m("h1"), hasDocuments = hasDocuments) {
    <div id="import-public-document-sets" data-source-url="@routes.PublicDocumentSetController.index">
      <h2>@m("loading")</h2>
      <!-- This content will be replaced in JavaScript -->
    </div>

    <div class="quick-start-container">
      <iframe class="quick-start-video" src="" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  }
}
