@(
  user: OverviewUser,
  form: controllers.forms.DocumentSetForm.FormType
)(implicit lang: Lang, flash: Flash)

@defining(scopedMessages("views.DocumentSet._import")) { m =>
  <button type="button" class="btn btn-primary collapsed toggle-import" data-toggle="collapse" data-target="#document-set-import"><i class="icon-upload icon-white"></i> @m("title") <span class="caret"></span></button>
  <div id="document-set-import" class="collapse">
    <ul class="nav nav-tabs">
      <li class="disabled"><a>@m("label")</a></li>
      <li class="active"><a data-toggle="tab" href="#import-from-documentcloud-account">@m("from_documentcloud_account")</a></li>
      <li><a data-toggle="tab" href="#import-from-documentcloud-query">@m("from_documentcloud_query")</a></li>
      <li><a data-toggle="tab" href="#import-public">@m("from_public")</a></li>
      <li><a data-toggle="tab" href="#import-from-upload">@m("from_upload")</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="import-from-documentcloud-account"></div>

      <div class="tab-pane fade in" id="import-from-documentcloud-query">
        @views.html.DocumentSet._manualForm(form)
      </div>

      <div class="tab-pane fade in" id="import-public">
        @views.html.DocumentSet._importPublic()
      </div>

      <div class="tab-pane fade in" id="import-from-upload">
        @views.html.DocumentSet._uploadForm()
      </div>
    </div>
  </div>
}
