@(
  documentSet: org.overviewproject.tree.orm.DocumentSet,
  owner: models.User
)(implicit lang: Lang, request: RequestHeader)

@defining(scopedMessages("views.DocumentSet._smallDocumentSet")) { m =>
  <li class="document-set">
    <form method="POST" action="@routes.CloneImportJobController.create(documentSet.id)" class="form-inline"
      >@helper.Form.csrfToken<button class="btn btn-primary">@m("import")</button
    ></form>
    <h3>@documentSet.title</h3>
    <h4>
      <span class="document-count">@m("nDocuments", documentSet.documentCount)</span>
      <span class="shared-by">@m("shared_by", owner.email)</span>
    </h4>
  </li>
}
