@(
  user: User,
  documentSet: org.overviewproject.models.DocumentSet,
  job: org.overviewproject.models.DocumentSetCreationJob,
  nAheadInQueue: Int
)(
  implicit lang: Lang,
  flash: Flash,
  request: RequestHeader
)
@javascripts = {
  @requireJsBundle("DocumentSet/show-progress")
}
@main(optionalUser=Some(user), title=documentSet.title, bodyClass="document-set-show-progress", javascripts=javascripts, optionalDocumentSet=Some(documentSet)) {
  <ul id="main">@views.html.ImportJob._documentSetCreationJob(job, documentSet, nAheadInQueue)</ul>
  <p class="introduction">@Messages("views.DocumentSet.showProgress.introduction")</p>
}
