@(
  user: User,
  documentSet: com.overviewdocs.models.DocumentSet
)(
  implicit messages: Messages,
  flash: Flash,
  request: RequestHeader
)
@javascripts = {
  @requireJsBundle("DocumentSet/show-progress")
}

@defining(scopedMessages("views.DocumentSet.showProgress")) { m =>
  @main(optionalUser=Some(user), title=documentSet.title, bodyClass="document-set-show-progress", javascripts=javascripts, optionalDocumentSet=Some(documentSet)) {
    <div id="main">
      <p class="introduction">@m("introduction")</p>
      <ul class="import-jobs" data-document-set-id="@{documentSet.id}"></ul>
    </div>
  }
}
