@(
  user: OverviewUser,
  documentSet: org.overviewproject.tree.orm.DocumentSet,
  isSearchable: Boolean /* HACK: remove once all docsets are searchable */
)(
  implicit lang: Lang,
  flash: Flash
)
@javascripts = {
  @helper.requireJs(core=routes.Assets.at("javascripts/require.js").url, module=routes.Assets.at("javascripts/bundle/DocumentSet/show").url)
}
@jsMessageKeys = @{Seq(
  "views.DocumentSet.show.DocumentList.loading",
  "views.DocumentSet.show.DocumentList.placeholder",
  "views.DocumentSet.show.DocumentList.tag.remove",
  "views.DocumentSet.show.DocumentList.tag.remove.title",
  "views.DocumentSet.show.DocumentList.title",
  "views.DocumentSet.show.DocumentList.title.empty",
  "views.DocumentSet.show.DocumentList.description",
  "views.DocumentSet.show.DocumentList.description.empty",
  "views.DocumentSet.show.DocumentListCursor.position_html",
  "views.DocumentSet.show.DocumentListCursor.next",
  "views.DocumentSet.show.DocumentListCursor.previous",
  "views.DocumentSet.show.DocumentListCursor.list",
  "views.DocumentSet.show.DocumentListCursor.selection.node_html",
  "views.DocumentSet.show.DocumentListCursor.selection.tag_html",
  "views.DocumentSet.show.DocumentListCursor.selection.searchResult_html",
  "views.DocumentSet.show.DocumentListCursor.selection.other_html",
  "views.DocumentSet.show.DocumentListCursor.title",
  "views.DocumentSet.show.DocumentListCursor.title.empty",
  "views.DocumentSet.show.DocumentListCursor.description",
  "views.DocumentSet.show.DocumentListCursor.description.empty",
  "views.DocumentSet.show.DocumentListTitle.num_documents",
  "views.DocumentSet.show.DocumentListTitle.loading",
  "views.DocumentSet.show.DocumentListTitle.tag.title_html",
  "views.DocumentSet.show.DocumentListTitle.tag.edit",
  "views.DocumentSet.show.DocumentListTitle.node.title_html",
  "views.DocumentSet.show.DocumentListTitle.node.edit",
  "views.DocumentSet.show.DocumentListTitle.searchResult.title_html",
  "views.DocumentSet.show.DocumentListTitle.searchResult.edit",
  "views.DocumentSet.show.DocumentListTitle.multiple.title_html",
  "views.DocumentSet.show.tag_list.header",
  "views.DocumentSet.show.tag_list.preamble",
  "views.DocumentSet.show.tag_list.export",
  "views.DocumentSet.show.tag_list.remove",
  "views.DocumentSet.show.tag_list.remove.confirm",
  "views.DocumentSet.show.tag_list.tag_name.placeholder",
  "views.DocumentSet.show.tag_list.n_documents",
  "views.DocumentSet.show.tag_list.submit",
  "views.Tag._form.h3",
  "views.Tag._form.labels.name",
  "views.Tag._form.labels.color",
  "views.Tag._form.confirm_delete",
  "views.Tag._form.delete",
  "views.Tag._form.close",
  "views.Tag._form.submit",
  "views.Node._form.h3",
  "views.Node._form.labels.description",
  "views.Node._form.close",
  "views.Node._form.submit",
  "views.Document.show.source",
  "views.Document.show.heading.empty",
  "views.Document.show.iframe.enable",
  "views.Document.show.iframe.disable",
  "views.Document.show.sidebar.enable",
  "views.Document.show.sidebar.disable",
  "views.Document.show.wrap.enable",
  "views.Document.show.wrap.disable",
  "views.Document.show.title.empty_title"
)}
@main(optionalUser=Some(user), title=documentSet.title, bodyClass="document-set-show", javascripts=javascripts, jsMessageKeys=jsMessageKeys) {
  <div id="main" data-is-searchable="@isSearchable" class=""></div>
}
