@(
  user: models.orm.User,
  documentSet: OverviewDocumentSet
)(
  implicit lang: Lang,
  flash: Flash
)
@javascripts = {
  @bundleJavascript("document-set-show")
}
@jsMessageKeys = @{Seq(
  "views.DocumentSet.show.document_list.loading",
  "views.DocumentSet.show.document_list.title_html",
  "views.DocumentSet.show.document_list.title.num_documents",
  "views.DocumentSet.show.document_list.title.edit",
  "views.DocumentSet.show.document_list.title.node",
  "views.DocumentSet.show.document_list.title.tag",
  "views.DocumentSet.show.document_list.title.n_nodes_and_n_tags",
  "views.Tag._form.h3",
  "views.Tag._form.labels.name",
  "views.Tag._form.labels.color",
  "views.Tag._form.confirm_delete",
  "views.Tag._form.delete",
  "views.Tag._form.close",
  "views.Tag._form.submit",
  "views.Node._form.h3",
  "views.Node._form.labels.description",
  "views.Node._form.close",
  "views.Node._form.submit"
)}
@main(optionalUser=Some(user), title=documentSet.title, bodyClass="document-set-show", javascripts=javascripts, jsMessageKeys=jsMessageKeys) {
  <div id="main">
    <div id="tree"></div>
    <div id="focus"></div>
    <div id="tag-list"></div>
    <div id="document-list"></div>
  </div>
  <aside id="document"></div>
}
