@(
  user: models.orm.User,
  documentSet: models.orm.DocumentSet
)(
  implicit lang: Lang,
  flash: Flash
)
@javascripts = {
  <!-- These are ordered by hand. See Issue #33. -->
  <script src="@routes.Assets.at("javascripts/vendor/spectrum.js")"></script>
  <script src="@routes.Assets.at("javascripts/require.js")"></script>
  <script src="@routes.Assets.at("javascripts/models/observable.js")"></script>
  <script src="@routes.Assets.at("javascripts/models/tag_store.js")"></script>
  <script src="@routes.Assets.at("javascripts/models/list_selection.js")"></script>
  <script src="@routes.Assets.at("javascripts/models/document_store.js")"></script>
  <script src="@routes.Assets.at("javascripts/models/id_tree.js")"></script>
  <script src="@routes.Assets.at("javascripts/models/lru_paging_strategy.js")"></script>
  <script src="@routes.Assets.at("javascripts/models/on_demand_tree.js")"></script>
  <script src="@routes.Assets.at("javascripts/models/router.js")"></script>
  <script src="@routes.Assets.at("javascripts/models/server.js")"></script>
  <script src="@routes.Assets.at("javascripts/models/needs_resolver.js")"></script>
  <script src="@routes.Assets.at("javascripts/models/transaction_queue.js")"></script>
  <script src="@routes.Assets.at("javascripts/models/cache.js")"></script>
  <script src="@routes.Assets.at("javascripts/models/document_list.js")"></script>
  <script src="@routes.Assets.at("javascripts/models/log.js")"></script>
  <script src="@routes.Assets.at("javascripts/models/selection.js")"></script>
  <script src="@routes.Assets.at("javascripts/models/state.js")"></script>
  <script src="@routes.Assets.at("javascripts/models/property_interpolator.js")"></script>
  <script src="@routes.Assets.at("javascripts/models/animator.js")"></script>
  <script src="@routes.Assets.at("javascripts/models/animated_node.js")"></script>
  <script src="@routes.Assets.at("javascripts/models/animated_tree.js")"></script>
  <script src="@routes.Assets.at("javascripts/models/animated_focus.js")"></script>
  <script src="@routes.Assets.at("javascripts/models/drawable_node.js")"></script>
  <script src="@routes.Assets.at("javascripts/models/remote_tag_list.js")"></script>
  <script src="@routes.Assets.at("javascripts/models/world.js")"></script>
  <script src="@routes.Assets.at("javascripts/views/color_table.js")"></script>
  <script src="@routes.Assets.at("javascripts/views/document_contents_view.js")"></script>
  <script src="@routes.Assets.at("javascripts/views/document_list_view.js")"></script>
  <script src="@routes.Assets.at("javascripts/views/focus_view.js")"></script>
  <script src="@routes.Assets.at("javascripts/views/tree_view.js")"></script>
  <script src="@routes.Assets.at("javascripts/views/tag_list_view.js")"></script>
  <script src="@routes.Assets.at("javascripts/views/node_form_view.js")"></script>
  <script src="@routes.Assets.at("javascripts/views/tag_form_view.js")"></script>
  <script src="@routes.Assets.at("javascripts/start-logger.js")"></script>
  <script src="@routes.Assets.at("javascripts/controllers/log_controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/controllers/document_contents_controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/controllers/document_list_controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/controllers/focus_controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/controllers/tree_controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/controllers/tag_list_controller.js")"></script>
  <script src="@routes.Assets.at("javascripts/globals.js")"></script>
  <script src="@routes.Assets.at("javascripts/main.js")"></script>
}
@jsMessageKeys = @{Seq(
  "views.DocumentSet.show.document_list.loading",
  "views.DocumentSet.show.document_list.title_html",
  "views.DocumentSet.show.document_list.title.num_documents",
  "views.DocumentSet.show.document_list.title.edit",
  "views.DocumentSet.show.document_list.title.node",
  "views.DocumentSet.show.document_list.title.tag",
  "views.DocumentSet.show.document_list.title.n_nodes_and_n_tags",
  "views.Tag._form.h3",
  "views.Tag._form.labels.name",
  "views.Tag._form.labels.color",
  "views.Tag._form.confirm_delete",
  "views.Tag._form.delete",
  "views.Tag._form.close",
  "views.Tag._form.submit",
  "views.Node._form.h3",
  "views.Node._form.labels.description",
  "views.Node._form.close",
  "views.Node._form.submit"
)}
@main(optionalUser=Some(user), title=documentSet.title, bodyClass="document-set-show", javascripts=javascripts, jsMessageKeys=jsMessageKeys) {
  <div id="main">
    <div id="tree"></div>
    <div id="focus"></div>
    <div id="tag-list"></div>
    <div id="document-list"></div>
  </div>
  <aside id="document"></div>
}
