@(
  user: User,
  jobs: Iterable[(
    com.overviewdocs.models.ImportJob,
    com.overviewdocs.models.DocumentSet,
    Option[String]
  )]
)(implicit messages: Messages, flash: Flash, request: RequestHeader)

@javascripts = {
  @requireJsBundle("admin/ImportJob/index")
}

@defining(scopedMessages("views.admin.ImportJob.index")) { m =>
  @main(optionalUser=Some(user), title=m("title"), h1=m("h1"), bodyClass="admin-document-set-creation-job-index", javascripts=javascripts) {
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="email">@m("th.email")</th>
          <th class="progress">@m("th.progress")</th>
          <th class="document-set-id">@m("th.id")</th>
          <th class="document-set-title">@m("th.title")</th>
        </tr>
      </thead>
      <tbody>
        @jobs.map { case (job, documentSet, ownerEmail) =>
          <tr>
            <td class="email">@ownerEmail.getOrElse("-")</td>
            <td class="progress">
              @job.progress.map { progress =>
                <progress value="@progress"></progress>
              }.getOrElse {
                <progress></progress>
              }
              @job.description.map { description =>
                <span class="progress-description">@Messages(description._1, description._2: _*)</span>
              }
            </td>
            <td class="document-set-id">@documentSet.id</th>
            <td class="document-set-title">@documentSet.title</th>
          </tr>
        }
      </tbody>
    </table>
  }
}
