@(
  user: OverviewUser,
  jobs: Iterable[(org.overviewproject.tree.orm.DocumentSetCreationJob,org.overviewproject.tree.orm.DocumentSet,models.orm.User)]
)(implicit lang: Lang, flash: Flash)

@import org.overviewproject.tree.Ownership
@import models.orm.finders.DocumentSetUserFinder
@import views.html.helper.EnumToString

@defining(scopedMessages("views.admin.ImportJob.index")) { m =>
  @main(optionalUser=Some(user), title=m("title"), h1=m("h1"), bodyClass="admin-document-set-creation-job-index") {
    <p class="current-time">@m("current_time_sentence", new java.util.Date())</p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="id">@m("th.id")</th>
          <th class="date-started">@m("th.created_at")</th>
          <th class="state">@m("th.state")</th>
          <th class="fraction-complete">@m("th.fraction_complete")</th>
          <th class="state-description">@m("th.state_description")</th>
          <th class="email">@m("th.email")</th>
          <th class="title">@m("th.title")</th>
          <th class="query">@m("th.query")</th>
        </tr>
      </thead>
      <tbody>
        @jobs.map { case (job, documentSet, owner) =>
          <tr>
            <td class="id">@job.id</td>
            <td class="date-started">@m("td.created_at", documentSet.createdAt)</td>
            <td class="state">@t("models.DocumentSetCreationJob.state." + job.state.toString)</td>
            <td class="fraction-complete"><progress min="0" max="1" value="@job.fractionComplete"></progress>@((job.fractionComplete * 100).toInt)%</td>
            <td class="state-description">@job.statusDescription</td>
            <td class="email">@owner.email</td>
            <td class="title">@documentSet.title</td>
            <td class="query">@documentSet.query.getOrElse("")</td>
          </tr>
        }
      </tbody>
    </table>
  }
}
