@(
  user: User,
  nOwnedDocumentSets: Long
)(implicit messages: Messages, flash: Flash, request: RequestHeader)

@javascripts = {
  @requireJsBundle("DocumentCloudProject/index")

  @* Let's hope there is no end-script tag in _supportedLanguages.... *@
  <script>
    window.supportedLanguages = @Html(views.DocumentSet._supportedLanguages().toString());
    window.defaultLanguageCode = "@org.overviewproject.util.SupportedLanguages.defaultLanguage.languageCode";
  </script>
}

@jsMessageKeys = @{Seq(
  "views.DocumentSet.index.ImportOptions",
  "views.DocumentSet._dcimport"
)}

@defining(scopedMessages("views.DocumentCloudProject.index")) { m =>
  @layouts.mainWithSidebar(user=user, title=m("title"), bodyClass="documentcloud-project-index", javascripts=javascripts, jsMessageKeys=jsMessageKeys) {
    @views.html.components.importNav(nOwnedDocumentSets=nOwnedDocumentSets)
    @views.html.components.helpBox(m("help1"))
  } {
    <div class="documentcloud-projects"><!-- JavaScript will replace this --></div>
  }
}
