@(
  loginForm: Form[OverviewUser],
  userForm: Form[PotentialNewUser],
  is32BitJava: Boolean
)(implicit lang: Lang, flash: Flash, request: RequestHeader)

@javascripts = {
  @helper.requireJs(core=routes.Assets.at("javascripts/require.js").url, module=routes.Assets.at("javascripts/bundle/Welcome/show").url)
}

@defining(scopedMessages("views.Welcome.show")) { m =>
  @main(optionalUser=None, title=m("title"), bodyClass="welcome-show", javascripts=javascripts) {
    @if(is32BitJava) {
      <div class="alert alert-error java-is-32-bit">@Html(m("warning_32bit_html"))</div>
    }

    <div class="centering-cell">
      <div class="row">
        <div class="col-md-6 blurb">
          <img class="big-logo" src="@routes.Assets.at("images/logo-large.png")" alt="@m("title")" />
          <p class="text">@m("p1")</p>
          <p class="learn"><a href="/help">@m("learn")</a></p>
        </div>
        <div class="col-md-6 intro-video-container">
          <iframe class="intro-video" src="" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="bottom-bar">
      <div class="row">
        <div class="col-md-6 form-container">
          @views.html.Session._form(loginForm)
        </div>

        <div class="col-md-6 fluid-divider form-container">
          @views.html.User._form(userForm)
        </div>
      </div>
    </div>
  }
}
