@(
  loginForm: Form[OverviewUser],
  userForm: Form[PotentialNewUser]
)(implicit lang: Lang, flash: Flash)

@defining(scopedMessages("views.Welcome.show")) { m =>
  @main(optionalUser=None, title=m("title"), bodyClass="welcome-show") {
    <header class="hero-unit">
      <img src="@routes.Assets.at("images/logo-large.png")" alt="@m("title")" />
      <p>@m("p1")</p>
      <p><a href="/help">Learn how</a>.</p>
    </header>

    <div class="row">
      <div class="span6">
        @views.html.Session._form(loginForm)
      </div>

      <div class="span6">
        @views.html.User._form(userForm)
      </div>
    </div>
  }
}
