@this(
  main: views.html.main
)
@(
  loginForm: Form[PotentialExistingUser],
  userForm: Form[PotentialNewUser],
  is32BitJava: Boolean,
  banner: String,
  allowRegistration: Boolean
)(implicit messages: Messages, flash: Flash, request: RequestHeader)

@javascripts = {
  @requireJsBundle("Welcome/show")
}

@defining(scopedMessages("views.Welcome.show")) { m =>
  @main(optionalUser=None, title=m("title"), bodyClass="welcome-show", javascripts=javascripts) {
    @if(is32BitJava) {
      <div class="alert alert-error java-is-32-bit">@Html(m("warning_32bit_html"))</div>
    }

    <article>
      <div class="container">
        <div class="row">
          @if(banner.isEmpty) {
            <div class="col-md-6">
              <div class="splash">
                <img class="big-logo" src="@routes.Assets.at("images/logo-large.png")" alt="@m("title")" />
                <p class="text">@m("p1")</p>
                <p class="learn"><a href="https://blog.overviewdocs.com">@m("learn")</a></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="intro-video-wrapper">
                <iframe class="intro-video"
                  src="https://player.vimeo.com/video/129776851?byline=0&amp;portrait=0&amp;color=ffffff"
                  width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
          } else {
            <h1 align="center">@Html(banner)</h1>
          }
        </div>
      </div>
    </article>

    <footer>
      @if(allowRegistration) {
        <div class="col-lg-6">
          @views.html.Session._form(loginForm)
        </div>
        <div class="col-lg-6">
          @views.html.User._form(userForm)
        </div>
      } else {
        @views.html.Session._form(loginForm)
      }
    </footer>
  }
}
