@(
  job: org.overviewproject.tree.orm.DocumentSetCreationJob,
  documentSet: org.overviewproject.tree.orm.DocumentSet,
  nAheadInQueue: Long
)(implicit lang: Lang, request: RequestHeader)
@import views.helper.DocumentSetHelper
@defining(scopedMessages("views.ImportJob._documentSetCreationJob")) { m =>
  <li data-document-set-id="@documentSet.id">
    <form method="post" class="delete form-inline" data-confirm="@m("confirm_cancel", documentSet.title)" action="@routes.DocumentSetController.delete(documentSet.id)?X-HTTP-Method-Override=DELETE">
      @helper.Form.csrfToken
      <input type="submit" class="btn btn-danger" value="@m("action_cancel")" />
    </form>
    <h2>@documentSet.title</h2>
    <h3>
      @(documentSet.query match {
        case Some(query) => m("subtitle.query", query)
        case None => m("subtitle.other")
      })
    </h3>
    <p class="status">
      <label>
        <progress min="0" max="100" value="@scala.math.round(job.fractionComplete * 100)"></progress><!-- IE9 needs start+end tags -->
        <span class="state">@t("models.DocumentSetCreationJob.state." + job.state.toString())</span>
      </label>
      <span class="state-description">@DocumentSetHelper.jobDescriptionMessage(job, nAheadInQueue)</span>
    </p>
  </li>
}
