@(
  importJob: com.overviewdocs.models.ImportJob
)(implicit messages: Messages)

@import com.overviewdocs.models.{ImportJob,FileGroupImportJob}

@cancelUrl = @{importJob match {
  case FileGroupImportJob(fileGroup) => Some(routes.FileImportController.delete(fileGroup.id))
  case _ => None
}}

@defining(scopedMessages("views.DocumentSet._documentSet")) { m =>
  <div class="status">
    <div class="progress">
      @importJob.progress.map { fraction =>
        <progress value="@fraction"></progress>
      }.getOrElse {
        <progress></progress>
      }
      <span class="progress-description">
        @{importJob.description.map(tuple => Messages(tuple._1, tuple._2: _*))}
      </span>
    </div>
    <div class="should-finish-in">
      @{importJob.estimatedCompletionTime.map(instant => views.Magic.shouldFinishInMs(instant.toEpochMilli - java.time.Instant.now().toEpochMilli))}
    </div>
  </div>
  @cancelUrl.map { url =>
		<div class="cancel">
			<button class="btn btn-danger delete-import-job" data-url="@cancelUrl" data-confirm="@m("cancelJob.confirm")">@m("cancelJob")</button>
		</div>
  }
}
