@(
  user: User,
  query: String
)(implicit messages: Messages, flash: Flash, request: RequestHeader)

@javascripts = {
  @requireJsBundle("DocumentCloudImportJob/new")

  @* Let's hope there is no end-script tag in _supportedLanguages.... *@
  <script>
    window.supportedLanguages = @Html(views.DocumentSet._supportedLanguages().toString());
    window.defaultLanguageCode = "@org.overviewproject.util.SupportedLanguages.defaultLanguage.languageCode";
  </script>
}

@jsMessageKeys = @{Seq(
  "views.DocumentSet.index.ImportOptions",
  "views.DocumentCloudImportJob.new",
  "views.DocumentSet._dcimport",
  "authentication.LoggedOutModal"
)}

@defining(scopedMessages("views.DocumentCloudImportJob.new")) { m =>
  @main(optionalUser=Some(user), title=m("title"), bodyClass="document-cloud-import-job-new", h1=m("h1"), javascripts=javascripts, jsMessageKeys=jsMessageKeys) {
    <div id="document-cloud-import-job" data-query="@query" data-submit-url="@routes.DocumentCloudImportJobController.create()">
  }
}
