@(
  form: Form[PotentialNewUser]
)(implicit lang: Lang)

@defining(scopedMessages("views.User._form")) { m =>
  <form method="post" action="@routes.UserController.create()" class="well form-horizontal" autocomplete="off">
    <h3>@m("h3")</h3>
    @helper.Form.errors(form.globalErrors)
    @helper.Form.translatedInput(form("email"), m, Map('type -> "email"))
    @helper.Form.translatedInput(form("password"), m, Map('type -> "password"))
    @helper.Form.translatedInput(form("password2"), m, Map('type -> "password", 'class -> "confirm-password", 'required -> "required", scala.Symbol("data-confirm-password-error-does-not-match") -> m("error_password2_does_not_match")))
    @helper.Form.translatedCheckbox(form("subscribe"), m, Map('type -> "checkbox", 'class -> "checkbox", 'value -> "true", 'checked -> "checked"))
    @helper.Form.translatedSubmit(m, Map(Symbol("data-feedback") -> m("submit_feedback")))
  </form>
}
