<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%level %logger{15} - %message%n%xException</pattern>
    </encoder>
  </appender>

  <logger name="com.ning.http.client" level="WARN"/><!-- Noisy Ning -->
  <logger name="slick" level="INFO" />

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
