@(
  user: OverviewUser
)(implicit lang: Lang, flash: Flash, request: RequestHeader)

@javascripts = {
  @helper.requireJs(core=routes.Assets.at("javascripts/require.js").url, module=routes.Assets.at("javascripts/bundle/PdfUpload/new").url)

  @* Let's hope there is no end-script tag in _supportedLanguages.... *@
  <script>
    window.supportedLanguages = @Html(views.DocumentSet._supportedLanguages().toString());
    window.defaultLanguageCode = "@org.overviewproject.util.SupportedLanguages.defaultLanguage.languageCode";
  </script>
}

@jsMessageKeys = @{Seq(
  "views.DocumentSet.index.ImportOptions.title",
  "views.DocumentSet.index.ImportOptions.lang.label",
  "views.DocumentSet.index.ImportOptions.name.label",
  "views.DocumentSet.index.ImportOptions.tree_title.label",
  "views.DocumentSet.index.ImportOptions.tag_id.label",
  "views.DocumentSet.index.ImportOptions.tag.loading",
  "views.DocumentSet.index.ImportOptions.tag.error",
  "views.DocumentSet.index.ImportOptions.tag.allDocuments",
  "views.DocumentSet.index.ImportOptions.tag.name",
  "views.DocumentSet.index.ImportOptions.split_documents.label_html",
  "views.DocumentSet.index.ImportOptions.split_documents.true",
  "views.DocumentSet.index.ImportOptions.split_documents.false",
  "views.DocumentSet.index.ImportOptions.split_documents.too_few_documents",
  "views.DocumentSet.index.ImportOptions.supplied_stop_words.label_html",
  "views.DocumentSet.index.ImportOptions.supplied_stop_words.help",
  "views.DocumentSet.index.ImportOptions.important_words.label_html",
  "views.DocumentSet.index.ImportOptions.important_words.help",
  "views.DocumentSet.index.ImportOptions.dialog.title",
  "views.DocumentSet.index.ImportOptions.dialog.cancel",
  "views.DocumentSet.index.ImportOptions.dialog.submit",
  "views.DocumentSet._massUploadForm.upload_prompt",
  "views.DocumentSet._massUploadForm.choose_options",
  "views.DocumentSet._massUploadForm.cancel",
  "views.DocumentSet._massUploadForm.drop_target",
  "views.DocumentSet._massUploadForm.minimum_files",
  "views.DocumentSet._massUploadForm.wait_for_import",
  "views.DocumentSet._massUploadForm.confirm_cancel.title",
  "views.DocumentSet._massUploadForm.confirm_cancel.prompt",
  "views.DocumentSet._massUploadForm.confirm_cancel.back_button",
  "views.DocumentSet._massUploadForm.confirm_cancel.confirm_button",
  "views.DocumentSet._uploadProgress.uploading"
)}

@defining(scopedMessages("views.PdfUpload.new")) { m =>
  @layouts.mainWithSidebar(user=user, title=m("title"), bodyClass="pdf-upload-new", javascripts=javascripts, jsMessageKeys=jsMessageKeys) {
    @views.html.components.importNav(hasDocumentSets=true)
    @views.html.components.helpBox(m("help1"), m("help2"))
  } {
    <form class="pdf-upload" method="post" action="@routes.MassUploadController.startClustering">
      @helper.Form.csrfToken
    </form>
  }
}
