@(
  user: OverviewUser,
  documentSet: org.overviewproject.tree.orm.DocumentSet,
  tree: org.overviewproject.tree.orm.Tree,
  isSearchable: Boolean /* HACK: remove once all docsets are searchable */
)(
  implicit lang: Lang,
  flash: Flash,
  request: RequestHeader
)
@javascripts = {
  @requireJsBundle("DocumentSet/show")

  @* Let's hope there is no end-script tag in _supportedLanguages.... *@
  <script>
    window.supportedLanguages = @Html(views.DocumentSet._supportedLanguages().toString());
    window.defaultLanguageCode = "@org.overviewproject.util.SupportedLanguages.defaultLanguage.languageCode";
  </script>
}
@jsMessageKeys = @{Seq(
  "views.DocumentSet.index.ImportOptions.title",
  "views.DocumentSet.index.ImportOptions.lang.label",
  "views.DocumentSet.index.ImportOptions.name.label",
  "views.DocumentSet.index.ImportOptions.tree_title.label",
  "views.DocumentSet.index.ImportOptions.tag_id.label",
  "views.DocumentSet.index.ImportOptions.tag.loading",
  "views.DocumentSet.index.ImportOptions.tag.error",
  "views.DocumentSet.index.ImportOptions.tag.allDocuments",
  "views.DocumentSet.index.ImportOptions.tag.name",
  "views.DocumentSet.index.ImportOptions.split_documents.label_html",
  "views.DocumentSet.index.ImportOptions.split_documents.true",
  "views.DocumentSet.index.ImportOptions.split_documents.false",
  "views.DocumentSet.index.ImportOptions.split_documents.too_few_documents",
  "views.DocumentSet.index.ImportOptions.supplied_stop_words.label_html",
  "views.DocumentSet.index.ImportOptions.supplied_stop_words.help",
  "views.DocumentSet.index.ImportOptions.important_words.label_html",
  "views.DocumentSet.index.ImportOptions.important_words.help",
  "views.DocumentSet.index.ImportOptions.dialog.title",
  "views.DocumentSet.index.ImportOptions.dialog.cancel",
  "views.DocumentSet.index.ImportOptions.dialog.submit",
  "views.DocumentSet.show.TransactionQueueErrorMonitor.error.title",
  "views.DocumentSet.show.TransactionQueueErrorMonitor.error.description",
  "views.DocumentSet.show.TransactionQueueErrorMonitor.networkError.title",
  "views.DocumentSet.show.TransactionQueueErrorMonitor.networkError.description",
  "views.DocumentSet.show.TransactionQueueErrorMonitor.reload",
  "views.DocumentSet.show.TransactionQueueErrorMonitor.retry",
  "views.DocumentSet.show.VizTabs.cancelJob",
  "views.DocumentSet.show.VizTabs.new_viz",
  "views.DocumentSet.show.VizTabs.viz.title.dt",
  "views.DocumentSet.show.VizTabs.viz.title.dd",
  "views.DocumentSet.show.VizTabs.viz.createdAt.dt",
  "views.DocumentSet.show.VizTabs.viz.createdAt.dd",
  "views.DocumentSet.show.VizTabs.viz.lang.dt",
  "views.DocumentSet.show.VizTabs.viz.lang.dd",
  "views.DocumentSet.show.VizTabs.viz.description.dt",
  "views.DocumentSet.show.VizTabs.viz.description.dd",
  "views.DocumentSet.show.VizTabs.viz.suppliedStopWords.dt",
  "views.DocumentSet.show.VizTabs.viz.suppliedStopWords.dd",
  "views.DocumentSet.show.VizTabs.viz.importantWords.dt",
  "views.DocumentSet.show.VizTabs.viz.importantWords.dd",
  "views.DocumentSet.show.apps.Job.heading",
  "views.DocumentSet.show.apps.Job.description",
  "views.Tree.show.DocumentList.loading",
  "views.Tree.show.DocumentList.placeholder",
  "views.Tree.show.DocumentList.tag.remove",
  "views.Tree.show.DocumentList.tag.remove.title",
  "views.Tree.show.DocumentList.description",
  "views.Tree.show.DocumentList.description.empty",
  "views.Tree.show.DocumentListCursor.position_html",
  "views.Tree.show.DocumentListCursor.next",
  "views.Tree.show.DocumentListCursor.previous",
  "views.Tree.show.DocumentListCursor.list",
  "views.Tree.show.DocumentListCursor.selection.all_html",
  "views.Tree.show.DocumentListCursor.selection.node_html",
  "views.Tree.show.DocumentListCursor.selection.searchResult_html",
  "views.Tree.show.DocumentListCursor.selection.tag_html",
  "views.Tree.show.DocumentListCursor.selection.untagged_html",
  "views.Tree.show.DocumentListCursor.description",
  "views.Tree.show.DocumentListCursor.description.empty",
  "views.Tree.show.DocumentListTitle.all.title_html",
  "views.Tree.show.DocumentListTitle.loading",
  "views.Tree.show.DocumentListTitle.node.edit",
  "views.Tree.show.DocumentListTitle.node.title_html",
  "views.Tree.show.DocumentListTitle.num_documents",
  "views.Tree.show.DocumentListTitle.searchResult.edit",
  "views.Tree.show.DocumentListTitle.searchResult.Complete.title_html",
  "views.Tree.show.DocumentListTitle.searchResult.Error.title_html",
  "views.Tree.show.DocumentListTitle.searchResult.InProgress.title_html",
  "views.Tree.show.DocumentListTitle.tag.edit",
  "views.Tree.show.DocumentListTitle.tag.title_html",
  "views.Tree.show.DocumentListTitle.untagged.title_html",
  "views.Tree.show.InlineSearchResultList.query_placeholder",
  "views.Tree.show.InlineSearchResultList.search",
  "views.Tree.show.InlineSearchResultList.create_tag",
  "views.Tree.show.SearchResultList.tag_name",
  "views.Tree.show.Tour.documentList.title",
  "views.Tree.show.Tour.documentList.body_html",
  "views.Tree.show.Tour.folders1.title",
  "views.Tree.show.Tour.folders1.body_html",
  "views.Tree.show.Tour.folders2.title",
  "views.Tree.show.Tour.folders2.body_html",
  "views.Tree.show.Tour.tags.title",
  "views.Tree.show.Tour.tags.body_html",
  "views.Tree.show.Tour.contact.title",
  "views.Tree.show.Tour.contact.body_html",
  "views.Tree.show.Tour.tipNumber",
  "views.Tree.show.Tour.next",
  "views.Tree.show.Tour.previous",
  "views.Tree.show.Tour.done",
  "views.Tree.show.Tour.skip",
  "views.Tree.show.helpers.DocumentHelper.title",
  "views.Tree.show.helpers.DocumentHelper.title.empty",
  "views.Tree.show.helpers.DocumentHelper.title.page",
  "views.Tree.show.tag_list.header",
  "views.Tree.show.tag_list.preamble",
  "views.Tree.show.tag_list.export",
  "views.Tree.show.tag_list.remove",
  "views.Tree.show.tag_list.remove.confirm",
  "views.Tree.show.tag_list.tag_name.placeholder",
  "views.Tree.show.tag_list.n_documents",
  "views.Tree.show.tag_list.th.count",
  "views.Tree.show.tag_list.th.count_in_tree",
  "views.Tree.show.tag_list.th.count_in_docset",
  "views.Tree.show.tag_list.th.name",
  "views.Tree.show.tag_list.submit",
  "views.Tag._form.h3",
  "views.Tag._form.labels.name",
  "views.Tag._form.labels.color",
  "views.Tag._form.confirm_delete",
  "views.Tag._form.delete",
  "views.Tag._form.close",
  "views.Tag._form.submit",
  "views.Node._form.h3",
  "views.Node._form.labels.description",
  "views.Node._form.close",
  "views.Node._form.submit",
  "views.Document.show.source",
  "views.Document.show.heading.empty",
  "views.Document.show.iframe.enable",
  "views.Document.show.iframe.disable",
  "views.Document.show.sidebar.enable",
  "views.Document.show.sidebar.disable",
  "views.Document.show.wrap.enable",
  "views.Document.show.wrap.disable",
  "views.Document.show.title.empty_title",
  "views.Document.show.buttons.document",
  "views.Document.show.buttons.text",
  "views.Document.show.missing_plugin",
  "views.InlineTagList.create",
  "views.InlineTagList.add",
  "views.InlineTagList.remove",
  "views.InlineTagList.show_untagged",
  "views.InlineTagList.organize"
)}
@main(optionalUser=Some(user), title=documentSet.title, bodyClass="document-set-show", javascripts=javascripts, jsMessageKeys=jsMessageKeys) {
  <div id="main" data-is-searchable="@isSearchable" data-tooltips-enabled="@user.treeTooltipsEnabled"></div>
}
