deps
logs
project/project
project/target
bin
target
dist
.cache
.classpath
.project
.settings
.worksheet
*/target
*/bin
*/dist
*/.cache
*/.classpath
*/.project
*/.settings
*/.worksheet

test/assets/javascripts/src-js
test/assets/javascripts/test-js


database
test
*/*/test

search-index/data
