@import "vendor/bootstrap/less/variables.less";

// And now we can override things
@sansFontFamily: "Open Sans", Helvetica, Arial, sans-serif;
@headingsFontFamily: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;

@textColor: #0d1223;
@mutedColor: #918f90;
@lightMutedColor: #a7a6a6;
@bodyBackground: #ffffff;
@darkBodyBackground: #f4f4f4;
@highlightColor: #50ade5;
@mutedHighlightColor: #6ab9e9;
@shadeColor: #a7a6a6;
@mutedShadeColor: #b4b3b3;
@errorColor: #ed1c24;

@invertedTextColor: #ffffff;
@invertedBackground: #0d1223;
