@(document: Option[OverviewDocument.DocumentCloudDocument])(implicit lang: Lang)

@defining(scopedMessages("views.Document.show")) { m =>
  <div class="type-DocumentCloudDocument" style="@document.map(_ => "").getOrElse("display:none;")">
    <ul class="actions">
      <li><a href="#" class="toggle-sidebar" data-m-enable="@m("sidebar.enable")" data-m-disable="@m("sidebar.disable")"></a></li>
    </ul>
    <iframe src="" data-documentcloud-id="@document.map(_.documentcloudId).getOrElse("")"></iframe>
  </div>
}
