@(document: core.Document)

<html>
  <head>
    <title>@document.title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/DV.css")" />
  </head>
  <body>
    <div id="DV-container"></div>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/vendor/DV/viewer.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/vendor/DV/templates.js")"></script>

    <script type="text/javascript">
      DV.load('https://www.documentcloud.org/documents/@(document.documentCloudId).json', { container: '#DV-container' });
    </script>
  </body>
</html>
