@(document: core.Document)

<html>
  <head>
    <title>@document.title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")" />
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/DV.css")" />
    <style type="text/css">
      html, body, iframe {
        width: 100%;
        height: 100%;
        border: none;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="DV-container"></div>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/vendor/DV/viewer.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/vendor/DV/templates.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/vendor-coffee/base64.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/vendor/jquery-1-8-1.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/vendor/underscore.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/dcimport/templates/login.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/dcimport/login.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/dcimport/fetch-document-json.js")"></script>

    <script type="text/javascript">
      var deferred, viewer;
      window.load_documentcloud_document = function(id) {
        if (deferred) {
          deferred.resolve(undefined);
          deferred = undefined;
        }

        if (viewer) {
          viewer.api.unload();
          viewer = undefined;
        }

        var $container = $('#DV-container');
        $container.empty();

        if (id) {
          deferred = dcimport.fetch_document_json(id, $container[0]);
          deferred.done(function(json) {
            if (!json) return;

            viewer = DV.load(json, { container: $container[0], sidebar: false });
          });
          // TODO handle failure
        }
      };

      $(function() {
        window.load_documentcloud_document('@document.documentCloudId');
      });
    </script>
  </body>
</html>
