@(documentSets: List[DocumentSet], documentSetForm: Form[DocumentSet])

@import helper._

@main("Document Sets") {

  <h1>Document Sets</h1>
  
  <ul>
  	@for(documentSet <- documentSets) {
  		<li> 
  			@documentSet.query
  			
  			@form(routes.Application.deleteDocumentSet(documentSet.id)) {
  				<input type="submit" value="Delete">
  			}
  		</li>
  	}
  </ul>

  @form(routes.Application.newDocumentSet()) {
     
      @inputText(documentSetForm("query"))

      <input type="submit" value="Add">
  }
}
