@(documentSets: List[DocumentSet], documentSetForm: Form[DocumentSetCreationJob])

@import helper._

@main("Document Sets") {

  <h1>Document Sets</h1>
  
  <ul>
  	@for(documentSet <- documentSets) {
  		<li> 
  			<a href="/documentsets/@documentSet.id/view">@documentSet.query</a>
  			
  			@form(routes.DocumentSetController.deleteDocumentSet(documentSet.id)) {
  				<input type="submit" value="Delete">
  			}
  		</li>
  	}
  </ul>

  @form(routes.DocumentSetController.createDocumentSet()) {
     
      @inputText(documentSetForm("query"))

      <input type="submit" value="Add">
  }
}
