@(
  optionalUser: Option[models.orm.User],
  title: String,
  bodyClass: String="default",
  h1: String="",
  javascripts: Html=Html("")
)(
  content: Html
)(
  implicit lang: Lang, flash: Flash
)<!DOCTYPE html>
<html lang="@lang.code">
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.min.css")" />
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
  </head>
  <body class="@bodyClass">
    @views.html.components.navbar(optionalUser)
    <div class="container">
      @if(h1 != "") {
        <div class="page-header"><h1>@h1</h1></div>
      }
      @flash.get("success").map { notice =>
        <div class="alert alert-success fade in"><button type="button" class="close" data-dismiss="alert">x</button>@notice</div>
      }
      @flash.get("error").map { error =>
        <div class="alert alert-error fade in"><button type="button" class="close" data-dismiss="alert">x</button>@error</div>
      }
      @content
      <footer><a href="http://overview.ap.org">The Overview Project</a></footer>
    </div>

    <!-- See Issue #33. -->
    <script src="@routes.Assets.at("javascripts/vendor/jquery-1-8-1.js")"></script>
    <script src="@routes.Assets.at("javascripts/vendor/jquery.mousewheel.js")"></script>
    <script src="@routes.Assets.at("javascripts/vendor/underscore.js")"></script>
    <script src="@routes.Assets.at("javascripts/vendor/progress-polyfill.js")"></script>
    <script src="@routes.Assets.at("javascripts/vendor/bootstrap-alert.js")"></script>
    <script src="@routes.Assets.at("javascripts/elements/form-with-confirm.js")"></script>
    <script src="@routes.Assets.at("javascripts/elements/unfinished-document-set.js")"></script>
    <script src="@routes.Assets.at("javascripts/elements/confirm-password.js")"></script>
    <script src="@routes.Assets.at("javascripts/elements/alert.js")"></script>

    @javascripts
  </body>
</html>
