@(
  optionalUser: Option[OverviewUser],
  title: String,
  bodyClass: String="default",
  h1: String="",
  javascripts: Html=Html(""),
  jsMessageKeys: Seq[String]=Seq()
)(
  content: Html
)(
  implicit lang: Lang,
  flash: Flash,
  request: RequestHeader
)
@import play.api.Play
@import play.api.Play.current
<!DOCTYPE html>
<html lang="@lang.code">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@title</title>
    <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("images/favicon.ico")" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" />
    @defining(play.filters.csrf.CSRF.TokenName) { csrfTokenName =>
      @for(csrfToken <- play.filters.csrf.CSRF.getToken(request).map(_.value)) {
        <script>
          window.csrfTokenName = "@csrfTokenName";
          window.csrfToken = "@csrfToken";
          window.csrfTokenHtml = '<input type="hidden" name="@csrfTokenName" value="@csrfToken" />';
          window.csrfTokenData = { "@csrfTokenName": "@csrfToken" };
          window.csrfTokenQueryString = "@csrfTokenName=@csrfToken";
        </script>
      }
    }
    @defining(play.api.Play.maybeApplication.flatMap(_.configuration.getString("overview.documentcloud_url")).getOrElse("https://www.documentcloud.org")) { documentCloudUrl =>
      <script>
        window.documentCloudUrl = "@documentCloudUrl";
      </script>
    }
  </head>
  <body class="@bodyClass">
    <!--[if lte IE 9]>
      <div id="ie9-not-supported" style="padding: 2em 10%; background: white; border: 1em solid #ed1c24; font-size: 1.75em; line-height: 1.75;">
        @Html(Messages("views.main.ie_not_supported_html"))
      </div>
    <![endif]-->

    @views.html.components.navbar(optionalUser)

    @if(flash.data.nonEmpty) {
      <div id="flash" class="container">
        @for((key, value) <- flash.data) {
          @if(Seq("success", "error", "warning").contains(key)) {
            <div class="alert alert-@key fade in"><button type="button" class="close" data-dismiss="alert">×</button>@value</div>
          } else {
            <div class="event" data-key="@key" data-value="@value"></div>
          }
        }
      </div>
    }

    <div class="container">
      @if(h1 != "") {
        <div class="page-header"><h1>@h1</h1></div>
      }

      @content
    </div>

    <!--[if lte IE 8]>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
      <script type="text/javascript">
       CFInstall.check({
          mode: "overlay",
       });
      </script>
    <![endif]-->

    @if(!jsMessageKeys.isEmpty) {
      <script>
        window.messages = @Html(views.JsMessages(jsMessageKeys));
      </script>
    }

    @javascripts

    @defining(Play.application.configuration.getString("analytics.ga_tracking_id").getOrElse("")) { trackingId =>
      @if(trackingId.length > 0) {
        <script>
          window._gaq = window._gaq || [];
          _gaq.push(['_setAccount', '@trackingId']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        <script src="@routes.Assets.at("javascripts/tracking.js").url"></script>
      }
    }

    @for(user <- optionalUser.map(_.toUser);
         intercomSettings <- IntercomConfiguration.settingsForUser(user)) {
      <script id="IntercomSettingsScriptTag">
        window.intercomSettings = {
          email: "@intercomSettings.email",
          created_at: "@intercomSettings.createdAt",
          user_hash: "@intercomSettings.userHash",
          app_id: "@intercomSettings.appId",
          widget: { "activator": "#Intercom" }
        };
        // Update Intercom every minute. (We know window.Intercom always exists
        // because it's set in the next code block, before the JS loads.
        window.setInterval(function() { window.Intercom('update'); }, 60000);
      </script>
      <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://static.intercomcdn.com/intercom.v1.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
      @if(Play.application.configuration.getString("analytics.ga_tracking_id").getOrElse("").length == 0) {
        <script src="@routes.Assets.at("javascripts/tracking.js").url"></script>
      }
    }
  </body>
</html>
