@import "../../mixins.less";
@import "./_variables.less";

// We put all major layout stuff in one file, to match the one HTML template

#tree-app-left {
  .box-sizing(border-box);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  border: 5px solid transparent;
  z-index: 2; // hover descriptions go above everything
  .display-flex();
  .flex-direction-column();

  &>* {
    .flex(0 0 auto);
  }

  #tree-app-search-and-tags {
    border-bottom: 5px solid transparent;
    .display-flex();
    .flex-wrap(wrap);
    margin: -5px -5px 0;

    &>* {
      margin: 5px 5px 0;
    }

    #tree-app-search {  
      min-width: 10em;
      width: 16em;
    }

    #tree-app-tags {
      min-width: 10em;
      width: 16em;
    }
  }

  #tree-app-view {
    .flex(1 1 auto);
    position: relative;

    &>.view {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .display-flex();
      .flex-direction-column();
    }
  }

  // FIXME move the below code somewhere better
  #tree-app-tree {
    .flex(1 1 auto);
  }

  #tree-app-zoom-slider {
    position: relative;
    height: @focus_height;
  }
}

#tree-app-right {
  .box-sizing(border-box);
  position: absolute;
  top: 0;
  right: 0;
  left: 50%;
  bottom: 0;
  margin: 5px;
  .display-flex();
  .flex-direction-column();

  #tree-app-right-top {
    .flex(0 0 auto);
    .display-flex();

    #document-list-title { .flex(1 1 auto); }
    #tree-app-document-list-tags { .flex(0 0 auto); }
  }

  #tree-app-right-bottom {
    .flex(1 1 auto);
    position: relative;
    overflow: hidden;
  }
}
