@import "../../variables.less";

#document-list-title {
  padding: .25em 0;
  .display-flex();

  h4 {
    flex-grow: 1;
    margin: 0;
    height: 1.5em;
    line-height: 1.5;
    white-space: nowrap;
    font-family: @font-family-sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    color: @text-muted;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .edit-link {
    flex-shrink: 0;
  }

  .show-list {
    flex-shrink: 0;
  }

  &.search-error h4 {
    color: @brand-danger;
  }

  a {
    .faded-link();
    display: inline-block;
    cursor: pointer; // Why? Chrome 32.0.1700.68 beta still requires this...
    padding: .5em;
  }
}
