#document-list-params {
  .display-flex();

  #tree-app-search-and-tags, #document-list-title-and-tag-this {
    width: 1px;
    .flex(1 0 auto;)
  }

  #tree-app-search-and-tags {
    margin-right: 30px;
    .display-flex();
  }

  #tree-app-search {  
    min-width: 10em;
    width: 16em;
  }

  #tree-app-tags {
    min-width: 10em;
    width: 16em;
  }
}
