#document-current>.document-metadata {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  box-sizing: content-box; // so when not .expanded, padding remains
  padding: 10px;
  max-height: 30%; // Don't let metadata overtake the document itself
  .transition(max-height .35s ease);
  border-top: 1px solid @table-border-color;

  h4 {
    text-align: center;
    margin-top: 0;
    font-size: inherit;
    line-height: 1.5;

    a {
      display: block;
      .fa-icon();

      &::before {
        content: @fa-var-caret-down + " ";
      }
    }
  }

  &:not(.expanded) {
    max-height: 1.5em;
    overflow: hidden;

    h4 + * {
      visibility: hidden;
    }

    h4 a::before {
      content: @fa-var-caret-right + " ";
    }
  }

  .metadata-json {
    .form-group {
      position: relative;
    }

    label {
      padding-right: 0; // not the grid gutter that comes by default
      line-height: @line-height-small; // XXX nix when Bootstrap fixes https://github.com/twbs/bootstrap/issues/16824
      vertical-align: bottom;
      border-top: 1px solid transparent; // No idea why! The label text is too high otherwise, even though the boxes line up properly. Chrome 44.0.2403.81 (beta)
    }

    button.delete {
      position: absolute;
      top: 0;
      right: @grid-gutter-width / 2;
      border: 1px solid transparent; // mimic the input
      padding: @padding-small-vertical @padding-small-horizontal;
      background: transparent;
      color: @brand-danger;
    }
  }

  .add-metadata-field {
    font-size: @font-size-small;

    &.expanded .expand { display: none; }
    &:not(.expanded) .details { display: none; }

    a.expand {
      display: block;
      text-align: center;
      line-height: @input-height-base;
    }

    .details {
      text-align: center;
    }
  }
}
