@import "../../variables.less";
@import "../../mixins.less";
@import "../../vendor/bootstrap/less/mixins.less";

#tree-app-document-cursor {
  @navWidth: 15%;

  position: absolute;
  z-index: 1;
  left: 110%;
  width: 100%;
  top: 0;
  bottom: 0;
  .transition(left .35s ease-out);

  &.showing-document, &.showing-unloaded-document {
    left: 0;
  }

  a.list {
    display: block;
    height: 3em;
    line-height: 3em;
    background: @bodyBackground;
    padding: 0;

    i {
      margin-right: .5em;
    }
  }

  .box {
    position: absolute;
    .overview-toplevel-box();
    overflow: hidden;
    top: 3em;
    left: 0;
    right: 0;
    bottom: 0;
    background: @darkBodyBackground;

    i {
      display: block;
    }
  }

  a.previous, a.next {
    height: 3em;
  }

  a.previous, a.next {
    line-height: 1.5em;
    width: @navWidth;
    display: block;
    overflow: hidden;
    .box-sizing(border-box);
  }

  a.previous {
    float: left;
    text-align: left;
    padding-right: 1em;
  }

  a.next {
    float: right;
    text-align: right;
    padding-left: 1em;

    i {
      margin: 0 0 0 auto;
    }
  }

  .disabled {
    .muted;
    cursor: default;
    text-decoration: none;
  }

  header {
    padding: 1em;
  }

  div.position, div.selection {
    margin: 0 @navWidth;
    height: 1.5em;
    line-height: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  div.selection {
    color: @highlightColor;
  }

  h2 {
    clear: both;
    font-family: inherit;
    font-weight: normal;
    font-size: 1.25em;
    line-height: 1.2em;
    margin: .8em 0 0 0;
  }

  h3 {
    font-family: inherit;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.5em;
    margin: .5em 0;
    .muted;
  }

  article {
    position: absolute;
    top: 6.5em;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
