@import "../../vendor/bootstrap/less/variables.less";
@import "../../vendor/bootstrap/less/mixins.less";
@import "../../vendor/bootstrap/less/wells.less";
@import "_variables.less";

#document-list {
  border-top: 1px solid @mutedShadeColor;
  position: absolute;
  top: 1.8em;
  left: 0;
  right: 0;
  bottom: 0;
  .transition(bottom .35s ease-out);
  overflow: auto;

  &.document-selected {
    bottom: @defaultDocumentHeight;
    overflow: hidden;
  }

  ul.documents {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li.document {
    margin: 0;
    padding: 5px 10px;
    line-height: 1.5;
    border-bottom: 1px dotted @mutedShadeColor;

    &.placeholder, &.loading {
      color: @gray;
    }

    &:hover {
      background: @wellBackground;
    }
  }

  li.document.cursor {
    font-weight: bold;
  }

  li.document.selected, ul.documents.all-selected li.document {
    color: @black;
    font-weight: bold;
  }

  h3 {
    margin: 0;
    padding: 0;
    font: inherit;
  }

  p.description {
    margin: 0;
    padding: 0;
    .text-overflow();
    .muted;
  }

  ul.tags {
    display: block;
    margin: 0 -.5em 0 0;
    padding: 0;
    list-style: none;
  }

  li.tag {
    display: inline-block;
    .ie7-inline-block();
    margin: .3em .5em .3em 0;
  }

  div.tag {
    font-weight: normal;
    font-size: .8em;
    padding: 0 .5em;
    .border-radius(.5em);

    a { display: none; } // this button doesn't work yet

    @shadow: rgba(255, 255, 255, .5);
    text-shadow:
      -1px -1px 1px @shadow, -1px 0 1px @shadow, -1px 1px 1px @shadow,
      0 -1px 1px @shadow, 0 1px 1px @shadow,
      1px -1px 1px @shadow, 1px 0 1px @shadow, 1px 1px 1px @shadow;
  }
}

#document-list.hover li.cursor {
  background: @wellBackground;
}
