@import "../../vendor/bootstrap/less/variables.less";
@import "../../vendor/bootstrap/less/mixins.less";

#document-list-title {
  padding: .25em 10px;

  h4 {
    margin: 0;
    height: 1.5em;
    line-height: 1.5;
    white-space: nowrap;
    font-family: @sansFontFamily;
    font-weight: normal;
    font-size: 1.5em;
    color: @highlightColor;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a {
    position: relative; // otherwise users can't click, in Chrome 22
    cursor: pointer; // dunno why this doesn't happen
    display: none;
    float: right;
    color: @linkColor;
    height: 2.25em;
    padding: 0 .5em;
    line-height: 2.25em;
  }

  &:hover a {
    display: block;
    background: inherit; // IE9 won't detect the change in the h4 text's width, but we can at least hide the text. Issue #193.
  }
}
