@import "../../vendor/bootstrap/less/variables.less";
@import "../../vendor/bootstrap/less/mixins.less";
@import "../../vendor/bootstrap/less/wells.less";
@import "_variables.less";
@import "../../mixins.less";

#document-list {
  position: absolute;
  top: 2.75em;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;

  ul.documents {
    margin: 0;
    margin-top: -.5em; // bring up the first li.document
    padding: 0;
    list-style: none;
  }

  li.document {
    cursor: pointer;
    margin: .75em .1em;
    .overview-toplevel-box;
    padding: .5em 1em;
    line-height: 1.5;

    &.placeholder, &.loading {
      color: @gray;
    }

    &:hover {
      background: @darkBodyBackground;
    }
  }

  li.document.cursor {
    font-weight: bold;
  }

  li.document.selected, ul.documents.all-selected li.document {
    color: @black;
    font-weight: bold;
  }

  h3 {
    margin: 0;
    padding: 0;
    font: inherit;
  }

  p.description {
    margin: 0;
    padding: 0;
    .text-overflow();
    .muted;
  }

  ul.tags {
    .tag-list-2d();
  }
}

#document-list.hover li.cursor {
  background: @wellBackground;
}
