@import "../../mixins.less";

#tree-app-zoom-slider {
  overflow: hidden;
  .border-bottom-radius(5px);

  * {
    .box-sizing(border-box);
    position: absolute;
    top: 0;
    bottom: 0;
  }

  .line {
    background: @darkBodyBackground;
  }

  .handle {
    background: transparent;
    border: none;
    z-index: 1;

    &.right {
      cursor: e-resize;
      border-left: none;
    }
    &.left {
      cursor: w-resize;
      border-right: none;
    }
  }

  .middle {
    cursor: move;
    background: @mutedHighlightColor;
  }
}
