@import "../../mixins.less";
@import "../../vendor/bootstrap/less/forms.less";
@import "_variables.less";
@import "tag-like-list.less";

#tree-app-search {
  clear: both;
  border: 5px solid transparent;
  .clearfix();

  form {
    float: left;
    margin: 0;
    width: 20em;
  }

  input, button {
    // so tree hover box shows up above: https://www.pivotaltracker.com/story/show/68629192
    z-index: 0;
  }

  input[type=submit] {
    .border-right-radius(0);
  }

  input[type=text] {
    &.state-inprogress {
      color: white;
      text-shadow: 0 0 .1em @gray-dark;
      background-color: @in-progress-color;
    }
    &.state-error {
      color: white;
      text-shadow: 0 0 .1em @gray-dark;
      background-color: @error-color;
    }
    &.state-complete {
      color: white;
      text-shadow: 0 0 .1em @gray-dark;
      background-color: @complete-color;
    }
  }

  a.create-tag {
    line-height: 30px; // from Bootstrap's form
    vertical-align: bottom;
    cursor: pointer;
    margin-left: .75em;

    i {
      line-height: 30px;
      vertical-align: bottom;
      margin-right: .3em;
    }

    &:hover i {
      text-decoration: none;
    }
  }
}
