@import "_variables.less";

#tree {
  position: absolute;
  top: 0;
  bottom: @focus_height + 2px;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-bottom: none;

  // Hover descriptions that pop out of #tree should appear above later nodes in the page (i.e., the document-preview iframe)
  z-index: 1;

  .hover-node-description {
    position: absolute;
    line-height: 1em;
    height: 1em;
    max-width: 100%; // 100% of the <canvas>, which should be about right
    padding: 5px;
    background: white;
    border: 1px solid #333;
    border-radius: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .inner {
      display: inline;
    }
  }
}
