@import "_variables.less";

#tree {
  height: @tree_height;
  padding-bottom: 10px;
  box-sizing: border-box;
  margin: 5px 5px 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-bottom: none;

  // Hover descriptions that pop out of #tree should appear above later nodes in the page (i.e., the document-preview iframe)
  position: relative;
  z-index: 1;

  .hover-node-description {
    position: absolute;
    line-height: 1em;
    height: 1em;
    max-width: 100%; // 100% of the <canvas>, which should be about right
    padding: 5px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .inner {
      display: inline;
    }
  }
}
