#tree-app-vizs {
  .viz-info-icon {
    cursor: pointer;
    color: @text-color;
    font-size: 1.1em;
  }
}

.popover dl.viz-details {
  min-width: 30em;
  max-width: 90%;
  margin: 1em;

  dt {
    margin-top: 1em;
  }
}
