<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- Play 2.4.1 bug: during startup, Play _always_ (even in test) resets
         logger configuration. But it shows a warning if we try to specify
         a log file. https://github.com/playframework/playframework/issues/4574
    -->
    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
      <evaluator>
        <expression>event.getMessage().contains("Logger configuration in conf files is deprecated and has no effect.")</expression>
      </evaluator>
      <onMatch>DENY</onMatch>
    </filter>
    <encoder>
      <pattern>[%level] %logger{100} - %message%n%xException</pattern>
    </encoder>
  </appender>

  <logger name="com.ning.http.client" level="WARN"/>
  <logger name="akka.event.slf4j.Slf4jEventHandler" level="WARN" /><!-- Shows info on startup -->
  <logger name="com.gargoylesoftware.htmlunit.DefaultCssErrorHandler" level="ERROR" /><!-- CSS errors are built into Bootstrap for IE support -->
  <logger name="com.gargoylesoftware.htmlunit.html.InputElementFactory" level="WARN" /><!-- It warns about <input type="email"> -->
  <logger name="com.gargoylesoftware.htmlunit.IncorrectnessListenerImpl" level="ERROR" /><!-- It warns about vendor JavaScript quirks -->
  <logger name="com.gargoylesoftware.htmlunit.javascript.background.JavaScriptExecutor" level="INFO" />
  <logger name="com.gargoylesoftware.htmlunit.javascript.host.ActiveXObject" level="ERROR" /><!-- Google Chrome Frame JavaScript... -->
  <logger name="com.gargoylesoftware.htmlunit.javascript.host.html.HTMLDocument" level="ERROR" /><!-- getElementById(sizcache07695793345570076) did a getElementByName for Internet Explorer -->
  <logger name="com.gargoylesoftware.htmlunit.javascript.StrictErrorReporter" level="OFF" /><!-- we can't control vendor-specific errors -->
  <logger name="jodd.lagarto" level="INFO" />
  <logger name="net.sf.ehcache" level="INFO" />
  <logger name="com.zaxxer.hikari" level="WARN"/><!-- Skip messages about pools starting/stopping -->
  <logger name="play.api.libs.concurrent.ActorSystemProvider" level="WARN"/><!-- Skip Akka starting/stopping -->

  <!-- Turn off our own log messages, when they're a normal part of unit tests -->
  <logger name="controllers.backend" level="ERROR"/>
  <logger name="com.overviewdocs.background.filecleanup" level="OFF"/>
  <logger name="com.overviewdocs.background.filegroupcleanup" level="OFF"/>
  <logger name="com.overviewdocs.documentcloud.DocumentRetriever" level="ERROR"/>
  <logger name="com.overviewdocs.nlp" level="WARN"/>
  <logger name="com.overviewdocs.messagequeue" level="OFF"/>
  <logger name="com.overviewdocs.jobhandler.documentset" level="ERROR"/>
  <logger name="com.overviewdocs.jobhandler.filegroup" level="OFF"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
