@(
  bodyClass: String = "",
  javascripts: Html = Html(""),
  jsMessageKeys: Seq[String] = Seq()
)(
  content: Html
)(
  implicit messages: Messages
)
<!DOCTYPE html>
<html lang="@messages.lang.code">
  <head>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")" />
  </head>

  <body class="@bodyClass">
    @content

    @if(!jsMessageKeys.isEmpty) {
      <script>
        window.messages = @Html(views.JsMessages(jsMessageKeys));
      </script>
    }

    @javascripts
</html>
